<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body style="font-family:'Helvetica-Neue','Helvetica','Arial',sans-serif;width:600px;margin:0 auto;">

  <div class="header" style="margin: 0 0 40px; padding: 10px;">
    <h1 style="font-size: 36px; color: #222; text-align: center;">TBA</h1>

    <h2 style="font-size: 14px; color: #555; text-align: center; font-weight: normal;"><%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
  </div>

  <div style="text-align:center;margin:0 0 12px;"><a style="color:#0DB5DB;" href="<%= @uri_prefix %>">Read on tba.colby.io &raquo;</a></div>

<!-- The Announcements -->
<div>
  <div style="width:290px;float:left;">
    <% @posts.each_with_index do |post, index| %>
      <% next if index.even? %>
      <div style="margin:0 0 12px;">

          <div style="font-size:13px;font-family:Helvetica;font-weight:bold;color:white;margin:0 0 8px;background-color:#0DB5DB;padding:6px;">

            <% if post.anon %>
              ANONYMOUS
            <% else %>
              <%= post.user.name.upcase %>
            <% end %>

          </div>

          <% if post.photo_url && !post.photo_url.empty? %>
            <a href="http://announcements.io/#<%= post.id %>"><img src="<%= post.photo_url %>/convert?w=288" style="border:solid 1px #ccc;" /></a>
          <% end %>

          <div style="margin:10px 0 0;"><a style="font-size:18px;font-family:Georgia;color:#333;text-decoration:none;font-weight:bold;" href="http://announcements.io/#<%= post.id %>"><%= post.title %></a>
          </div>

          <div style="font-size:14px;font-family:Helvetica;color:#444;"><%= post.content_html.html_safe %></div>

      </div>
    <% end %>
  </div>

  <div style="width:290px;float:right;">
    <% @posts.each_with_index do |post, index| %>
      <% next if index.odd? %>
      <div style="margin:0 0 12px;">

          <div style="font-size:13px;font-family:Helvetica;font-weight:bold;color:white;margin:0 0 8px;background-color:#0DB5DB;padding:6px;">

            <% if post.anon %>
              ANONYMOUS
            <% else %>
              <%= post.user.name.upcase %>
            <% end %>

          </div>

          <% if post.photo_url && !post.photo_url.empty? %>
            <a href="http://announcements.io/#<%= post.id %>"><img src="<%= post.photo_url %>/convert?w=288" style="border:solid 1px #ccc;" /></a>
          <% end %>

          <div style="margin:10px 0 0;"><a style="font-size:18px;font-family:Georgia;color:#333;text-decoration:none;font-weight:bold;" href="http://announcements.io/#<%= post.id %>"><%= post.title %></a>
          </div>

          <div style="font-size:14px;font-family:Helvetica;color:#444;"><%= post.content_html.html_safe %></div>

      </div>
    <% end %>
  </div>
</div>

  <% if @issue.foss && @issue.dana && @issue.bobs %>
    <div class="title" style="padding: 10px; color: white; background-color: #06586b; font-weight: bold;clear:both;">Lunch Menus</div>
    <table style="font-size: 11px; color: #555; width: 100%; padding: 12px 0;">
      <tr>
        <td style="vertical-align: top; text-align: center; padding: 0 2px 0 0;border-right: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Foss</h3><%= @issue.foss.html_safe %></td>
        <td style="vertical-align: top; text-align: center; padding: 0 2px;"><h3 style="font-size: 16px; font-style: italic;">Dana</h3><%= @issue.dana.html_safe %></td>
        <td style="vertical-align: top; text-align: center;padding: 0 0 0 2px; border-left: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Bobs</h3><%= @issue.bobs.html_safe %></td>
      <tr>
    </table>
  <% end %>

  <% if @issue.foss_dinner && @issue.dana_dinner && @issue.bobs_dinner %>
    <div class="title" style="padding: 10px; color: white; background-color: #06586b; font-weight: bold;clear:both;">Dinner Menus</div>
    <table style="font-size: 11px; color: #555; width: 100%; padding: 12px 0;">
      <tr>
        <td style="vertical-align: top; text-align: center; padding: 0 2px 0 0;border-right: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Foss</h3><%= @issue.foss_dinner.html_safe %></td>
        <td style="vertical-align: top; text-align: center; padding: 0 2px;"><h3 style="font-size: 16px; font-style: italic;">Dana</h3><%= @issue.dana_dinner.html_safe %></td>
        <td style="vertical-align: top; text-align: center;padding: 0 0 0 2px; border-left: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Bobs</h3><%= @issue.bobs_dinner.html_safe %></td>
      <tr>
    </table>
  <% end %>

  <!-- note: add settings and compose links -->

    <p style="margin: 24px 0; text-align: center;">
      <a style="color:#0DB5DB;display:block;" href="<%= @uri_prefix %>">Login to TBA.</a>
      <a style="color:#0DB5DB;display:block;" href="<%= @uri_prefix %>accounts/<%= @account.id %>/unsubscribe">Unsubscribe.</a>
    </p>

    <img src="<%= @uri_prefix %>stats/image/<%= @account.user.id %>/<%= @issue.id %>" />

  </body>
</html>
