<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body style="font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;">

  <div class="header" style="margin: 0 0 40px; padding: 10px;">
    <h1 style="font-size: 36px; color: #222; text-align: center;">The Better Announcements</h1>

    <h2 style="font-size: 14px; color: #555; text-align: center; font-weight: normal;"><%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>

    <% if @forecast && @account.user.receive %>
    <table style="margin: 0 auto 36px; width:60%;">
      <tr>
        <% @forecast['forecast']['simpleforecast']['forecastday'].each_with_index do |f, i| %>
          <td style="text-align:center;width:100px;vertical-align:top;">
            <div><%= image_tag f['icon_url'] %></div>
            <div style="font-size:13px;color:#444;margin:0 0 10px;font-weight:bold;">
              <%= (i == 0) ? 'Today' : f['date']['weekday'] %>
            </div>
            <div style="font-size:12px;color:#031C34;margin:0 0 2px;">
              <strong><%= f['high']['fahrenheit'] %></strong> <span style="font-size:10px;color:#888;">F</span>
              <span>&nbsp;</span>
              <strong><%= f['low']['fahrenheit'] %></strong> <span style="font-size:10px;color:#888;">F</span>
            </div>
            <div style="font-size:11px;color:#888;">
              <%= f['conditions'] %>
            </div>
          </td>
          <% break if i == 1 %>
        <% end %>
      </tr>
    </table>
    <% end %>
  </div>

  <div style="text-align:center;"><a style="color:#0DB5DB;line-height:50px;" href="http://announcements.io">Read on announcements.io &raquo;</a></div>

<!-- The Announcements -->
<div style="padding:12px;">

  <% @posts.each_with_index do |post, index| %>


    <table style="border-top:2px solid #999;padding:8px; width: 100%;">
      <tr>

        <% if post.photo_url && !post.photo_url.empty? %>
          <td style="width: 140px;">
            <a href="http://announcements.io/#<%= post.id %>"><img src="<%= post.photo_url %>/convert?w=140" style="width: 140px; margin: 0 6px 0 0;" /></a>
          </td>
        <% end %>

        <td style="vertical-align:top;">
          <h2 style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#444;margin:0 0 6px;"><%= post.user.name.upcase %></h2>
            <a style="font-size:18px;font-family:Georgia;color:#333;text-decoration:none;font-weight:bold;" href="http://announcements.io/#<%= post.id %>"><%= post.title %></a>
            <div style="font-size:14px;font-family:Helvetica;color:#444;margin: -4px 0 4px;"><%= post.content_html.slice((0..200)).html_safe %> <a style="text-decoration:none;color: #0DB5DB;" href="http://announcements.io/#<%= post.id %>">more &raquo;</a></div>
          </td>
        </tr>
    </table>

    <!-- HEART -->
            <% if post.user.id != @account.user.id %>
              <!-- <a style="float:right;color:#eee;text-decoration:none;" href="http://announcements.io/votes/mail/<%= post.id %>">&#9829; &rarr;</a> -->
            <% end %>


  <% end %>
</div>

  <% if @issue.foss && @issue.dana && @issue.bobs %>
    <div class="title" style="padding: 10px; color: white; background-color: #06586b; font-weight: bold;">Lunch Menus</div>
    <table style="font-size: 11px; color: #555; width: 100%; padding: 12px 0;">
      <tr>
        <td style="vertical-align: top; text-align: center; padding: 0 2px 0 0;border-right: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Foss</h3><%= @issue.foss.html_safe %></td>
        <td style="vertical-align: top; text-align: center; padding: 0 2px;"><h3 style="font-size: 16px; font-style: italic;">Dana</h3><%= @issue.dana.html_safe %></td>
        <td style="vertical-align: top; text-align: center;padding: 0 0 0 2px; border-left: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Bobs</h3><%= @issue.bobs.html_safe %></td>
      <tr>
    </table>
  <% end %>

  <% if @issue.foss_dinner && @issue.dana_dinner && @issue.bobs_dinner %>
    <div class="title" style="padding: 10px; color: white; background-color: #06586b; font-weight: bold;">Dinnah Menus</div>
    <table style="font-size: 11px; color: #555; width: 100%; padding: 12px 0;">
      <tr>
        <td style="vertical-align: top; text-align: center; padding: 0 2px 0 0;border-right: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Foss</h3><%= @issue.foss_dinner.html_safe %></td>
        <td style="vertical-align: top; text-align: center; padding: 0 2px;"><h3 style="font-size: 16px; font-style: italic;">Dana</h3><%= @issue.dana_dinner.html_safe %></td>
        <td style="vertical-align: top; text-align: center;padding: 0 0 0 2px; border-left: solid 1px #ddd;"><h3 style="font-size: 16px; font-style: italic;">Bobs</h3><%= @issue.bobs_dinner.html_safe %></td>
      <tr>
    </table>
  <% end %>

  <!-- note: add settings and compose links -->

    <p style="margin: 24px 0; text-align: center;">
      <a style="color:#0DB5DB;" href="<%= @uri_prefix %>">Login to The Better Announcements.</a>
    </p>

  </body>
</html>