<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:'Helvetica-Neue','Helvetica','Arial',sans-serif;width:600px;margin:0 auto;">

  <div class="header" style="margin:0 0 40px; padding:10px; background-color:#031c34; text-align:center;">
    <h1 style="font-size:32px; color:#fff; margin-bottom:12px;">TBA</h1>
    <p style="font-size: 14px; color:#ccc;"><%= @issue.publish_date.strftime('%B %-d, %Y') %></p>
  </div>

  <table>
    <% @posts.each_with_index do |post, i| %>
      <% if i.even? %>
        <tr>
      <% end %>

        <td style="vertical-align:top; padding:0 0.4em 2em; width:299px;">
          <% if post.photo_url && !post.photo_url.empty? %>
            <a href="<%= @base_url %>"><img src="<%= post.photo_url %>/convert?w=285" style="border:solid 1px #ccc; width:100%;" /></a>
          <% end %>

          <div style="font-size:13px; color:#888; margin:0.4em 0;">
            <%= post.name_str.upcase %>
          </div>
           
          <h3 style="margin:0 0 0.5em;"><a href="<%= @base_url %>" style="text-decoration:none;font-size:24px; color:#333;"><%= post.title %></a></h3>

          <div style="color:#555; font-size:14px; line-height:20px;">
            <%= post.content %> 
          </div> 
        </td> 
        
      <% if i.odd? || i+1 == @posts.count %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <p style="margin:4em 0 0; padding:1em; text-align:center; font-size:14px; background-color:#eee;">
    <a style="color:#0DB5DB;display:block;margin-bottom:0.4em; text-decoration:none;" href="<%= @base_url %>/">Go to TBA</a>
    <a style="color:#0DB5DB;display:block; text-decoration:none;" href="<%= @base_url %>/accounts/<%= @account.id %>/unsubscribe">Unsubscribe</a>
  </p>

  <img src="<%= @base_url %>stats/image/<%= @account.user.id %>/<%= @issue.id %>" />

  </body>
</html>
