<%= form_for(current_user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field disabled">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name, :disabled => 'disabled' %>
  </div>
  <div class="field disabled">
    <%= f.label :email %><br />
    <%= f.text_field :email, :disabled => 'disabled' %>
  </div>
  <div class="field">
    <% if @user.admin %>
    <p>You are an admin.</p>
    <% end %>
  </div>
  <div class="field">

    <p>Both your name and email cannot be edited. If there's a problem, drop us a line.</p>

    <% if !@user.canpost %>
    <p>Since you have a non-colby.edu address, you can receive the announcements but cannot post to them.</p>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save"  %>
  </div>
<% end %>
