<h1>Users</h1>

<table>
  <tr>
    <th>Name & Email</th>
    <th>Joined</th>
    <th>Post?</th>
    <th>Receive?</th>
    <th>Admin?</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
        <td><strong><%= user.name %></strong><br /><%= user.email %></td>
        <td><%= user.created_at.strftime('%b %-d') %></td>
        <td class="<%= 'weekend' if user.canpost %>"><%= user.canpost %></td>
        <td class="<%= 'weekend' if user.receive %>"><%= user.receive %></td>
        <td class="<%= 'weekend' if user.admin %>"><%= user.admin %></td>
    </tr>
  <% end %>

</table>


