<h1>Users</h1>

<p>Users' karma points should be <strong>kept secret at all costs.</strong> Under no circumstances should anyone be allowed to know their karma (except for admins).</p>

<p>Order by <a href="/users">date joined</a>, <a href="/users?order=karma">karma</a></p>

<p>Filter <a href="/users?filter=admin">admins</a></p>

<table>
  <tr>
    <th>Name & Email</th>
    <th>Joined</th>
    <th>Post</th>
    <th>Receive</th>
    <th>Karma</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
        <td class="<%= 'weekend' if user.admin %>"><strong><%= user.name %></strong><br /><%= user.email %></td>
        <td><%= user.created_at.strftime('%b %-d') %></td>
        <td class="<%= 'weekend' if user.canpost %>"><%= user.canpost %></td>
        <td class="<%= 'weekend' if user.receive %>"><%= user.receive %></td>
        <td><strong><%= user.karma %></strong></td>
    </tr>
  <% end %>

</table>


