<% @posts.each_with_index do |post, i| %>
  <div class="pfy sidepost <%= 'current' if i == 0 %>">
    <a href="/posts/<%= post.id.to_s %>">

      <% if post.photo_url && !post.photo_url.empty? %>
          <img src="<%= post.photo_url %>/convert?w=120" 
               style="width:120px;"
               class="right" />
      <% end %>

      <h3 class="sh mcb"><%= post.title %></h3>
      <div class="fwb mdb"><%= post.public_user_name.upcase  %></div>

      <div class="">
        <%= simple_format(auto_link(truncate(post.content, length: 140)))%>
      </div>

    </a>
  </div>
<% end %>
