<% @posts.each_with_index do |post, i| %>
  <div class="pf sidepost clearfix <%= 'current' if @post ? @post.id == post.id : i == 0 %>"
      <% if post.photo_url && !post.photo_url.empty? %>
        style="background-image: url('<%= post.photo_url %>/convert?w=420');"
      <% end %>
    >
    <a href="/posts/<%= post.id.to_s %>" class="white">


      <h3 class="sh mcb"><%= post.title %></h3>

      <div class="fwb mdb"><%= post.public_user_name.upcase  %></div>

      <div class="">
        <%= simple_format(auto_link(truncate(post.content, length: 140)))%>
      </div>

    </a>
  </div>
<% end %>
