<h2>New Announcement</h2>

<% if @already %>
  <h3>You've submitted the following to be published on <%= @issue.publish_date.strftime('%F') %>.</h3>
  
  <div class="title"><%= @post.title %></div>
  
  <div class="content"><%= @post.content %></div>
  
  <p>Edit your submission</p>  
<% else %>
  
  <h3>Publish Date: <%= @issue.publish_date.strftime('%F') %></h3>
  
  <%= render 'posts/form' %>
  
<% end %>




