<div class="home_dashboard">

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


  <h1>This morning's edition</h1>
  <div class="announcements">
    <% @posts.each do |post| %>
      <div class="announcement">
        <div class="title">
          <span><%= post.user.name %> - <%= post.title %></span>
          <% if current_user.canpost %>
            <span class="voting" data-post="<%= post.id %>">

              <% user_vote = current_user.has_voted_on post %>

              <% if post.user == current_user  %>
                <% # you can't vote on your own stuff %>
              <% elsif user_vote %>
                <% if user_vote.up %>
                  <span class="upvoted">liked</span>
                <% else %>
                  <span class="upvoted hidden">liked</span>
                <% end %>

                <span class="upvote hidden">like</span>

              <% else %>

                <span class="upvoted hidden">liked</span>
                <span class="upvote">like</span>

              <% end %>
            </span>
          <% end %>
        </div>
        <div class="body">
          <%= post.content_html.html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>