<div class="home_dashboard">

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


  <h1>This morning's edition</h1>

<!--
- posts
- likes
- first time posters
 -->

  <div class="announcements">
    <% @posts.each do |post| %>
      <div class="announcement">

        <table class="title" id="<%= post.id %>">
          <tr>
            <td><a href="mailto:<%= post.user.primary_email %>"><%= post.user.name %></a></td>
            <td class="headline"><%= post.title %></td>
            <td class="like_count <%= 'hidden' if post.votes.count == 0 %>" data-likes="<%= post.votes.count %>"><%= post.votes.count %></td>

            <% if current_user.canpost && post.user != current_user %>
              <td class="vote_box">
                <span class="voting" data-post="<%= post.id %>">
                  <% if current_user.has_voted_on post  %>
                    <span class="upvoted">&#10007;</span>
                    <span class="upvote hidden">&#9829;</span>
                  <% else %>
                    <span class="upvoted hidden">&#10007;</span>
                    <span class="upvote">&#9829;</span>
                  <% end %>
                </span>
              </td>
            <% end %>

          </tr>

        </table>

        <div class="body">

          <% if post.photo_url && !post.photo_url.empty? %>
            <img src="<%= post.photo_url %>/convert?w=580" />
          <% end %>

          <%= simple_format(auto_link(post.content)) %>
        </div>
      </div>
    <% end %>
  </div>
</div>