<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<section>
  <h2>Receive email at:</h2>

  <% current_user.accounts.each do |account| %>

    <form>
      <div class="setting clearfix">
        <label for="receive_checkbox"><%= account.email %></label>
        <div class="checkbox">
          <input type="checkbox" id="receive_checkbox" data-account-id="<%= account.id %>" <% if account.receive %>checked="checked"<% end %> />
        </div>
      </div>
    </form>

  <% end %>

</section>

<section>
  <h2>Yourself</h2>
  <div class="setting clearfix">
    <label>Name: <strong><%= @user.name %></strong></label>
  </div>

  <div class="setting clearfix">
    <label>Posts: <strong><%= @user.posts.count %></strong></label>
  </div>

  <% if @user.admin %>
    <div class="setting clearfix">
      <label>You are an <strong>admin.</strong> Congratulations.</label>
    </div>
  <% end %>

</section>

<% if !@user.canpost %>
    <p>Since you have a non-colby.edu address, you can receive the announcements but cannot post to them.</p>
<% end %>

<p>Currently names are not editable. If you need to change yours, <%= link_to 'contact', :guide %> us.</p>