<section>
  <h2>Receive email at:</h2>

  <% current_user.accounts.each do |account| %>

    <form>
      <div class="setting clearfix">
        <label for="receive_checkbox"><%= account.email %></label>
        <div class="checkbox">
          <input type="checkbox" id="receive_checkbox" data-controller="accounts" data-attribute="receive" data-id="<%= account.id %>" <% if account.receive %>checked="checked"<% end %> />
        </div>
      </div>
    </form>

  <% end %>

</section>

<section>
  <h2>Yourself</h2>

  <table>
      <tr>
        <td>Name</td>
        <td><strong><%= @user.name %></strong></td>
      </tr>
      <tr>
        <td>Posts</td>
        <td><strong><%= @user.posts.count %></strong></td>
      </tr>
      <tr>
        <td>Number of times your posts have been viewed</td>
        <td><strong><%= @posts_seen_times %></strong></td>
      </tr>
  </table>

  <% if @user.admin %>
    <p>You are an <strong>admin.</strong> Congratulations.</p>
  <% end %>

  <% if !@user.canpost %>
      <p>Since you have a non-colby.edu address, you can receive the announcements but cannot post to them.</p>
  <% end %>

  <p>Currently names are not editable. If you need to change yours, <a href="mailto:hello@announcements.io">contact</a> us.</p>

</section>
