<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<section>
  <h2>Subscription</h2>
  <form>
    <div class="setting clearfix">
      <label for="receive_checkbox">Receive Announcements</label>
      <div class="checkbox">
        <input type="checkbox" id="receive_checkbox" data-user-id="<%= current_user.id %>" <% if current_user.receive %>checked="checked"<% end %> />
      </div>
    </div>
  </form>
</section>

<section>
  <h2>Yourself</h2>
  <div class="setting clearfix">
    <label>Name: <strong><%= @user.name %></strong></label>
  </div>
  <div class="setting clearfix">
    <label>Email: <strong><%= @user.email %></strong></label>
  </div>

  <% if @user.admin %>
    <div class="setting clearfix">
      <label>You are an <strong>admin.</strong> Congratulations.</label>
    </div>
  <% end %>

</section>

<% if !@user.canpost %>
    <p>Since you have a non-colby.edu address, you can receive the announcements but cannot post to them.</p>
<% end %>

<p>Currently names are not editable. If you need to change yours, <%= link_to 'contact', :guide %> us.</p>