<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Stats</h1>

<h2>Users</h2>

<table>

  <tr>
    <td>Total users</td>
    <td><strong><%= @users_count %></strong></td>
  </tr>

  <tr>
    <td>Total emails</td>
    <td><strong><%= @accounts_count %></strong></td>
  </tr>

  <tr>
    <td>Total Colby emails</td>
    <td><strong><%= @colby_emails_count %></strong>
      (<%= @colby_accounts_ratio %>% of total)</td>
  </tr>

  <tr>
    <td>Approximate percentage of Colby signed up</td>
    <td><strong><%= @colby_population_ratio %>%</strong></td>
  </tr>

  <tr>
    <td>Total addresses receiving email</td>
    <td><strong><%= @accounts_receive_count %></strong>
      (<%= @accounts_receive_ratio %>% of total)</td>
  </tr>

</table>

<h2>Karma</h2>

<table>

  <tr>
    <td>Votes today</td>
    <td><strong><%= @votes_today_up %></strong> up, <strong><%= @votes_today_down %></strong> down</td>
  </tr>

  <tr>
    <td>Karma points exchanged today</td>
    <td><strong><%= @karma_points_exchanged_today %></strong></td>
  </tr>

  <tr>
    <td>Votes yesterday</td>
    <td><strong><%= @votes_yesterday_up %></strong> up, <strong><%= @votes_yesterday_down %></strong> down</td>
  </tr>

  <tr>
    <td>Karma points exchanged yesterday</td>
    <td><strong><%= @karma_points_exchanged %></strong></td>
  </tr>

</table>

<h2>Errors</h2>

<p>Solid vertical lines are new version pushes.</p>

<iframe src="https://heroku.newrelic.com/public/charts/5SB0ddNQ02D" width="100%" height="300" scrolling="no" frameborder="no"></iframe>

<h2>Server Response Time</h2>

<iframe src="https://heroku.newrelic.com/public/charts/jc03twL9e9K" width="100%" height="300" scrolling="no" frameborder="no"></iframe>

<h2>Browser Page Load Time</h2>

<iframe src="https://heroku.newrelic.com/public/charts/6VjKE16o9K4" width="100%" height="300" scrolling="no" frameborder="no"></iframe>
