<div class="mobile_index">

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


  <h1>This morning's edition</h1>
  <h2><%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>

<!--
- posts
- likes
- first time posters
 -->

  <div class="announcements">
    <% @posts.each do |post| %>
      <div class="announcement">

        <div class="title" id="<%= post.id %>">
          <div class="name"><strong><%= post.user.name %></strong></div>
          <div class="headline"><%= post.title %></div>
        </div>

        <div class="body">
          <%= simple_format(post.content) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
