<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :content, :placeholder => "Your post" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :issue_id, :value => @issue.id %>
  </div>
  <div class="field">
    <%= f.submit "Save announcement" %>
  </div>
  <% if @already %>
    <div class="field">
      <%= link_to 'Delete and start over', @post, confirm: 'Are you sure?', method: :delete %>
    </div>
  <% end %>
<% end %>
