<% if @post.photo_url && !@post.photo_url.empty? %>
  <div class="feature_photo"
       style="background-image:url('<%= @post.photo_url %>/convert?w=1024');"
    ></div>
<% else %>
  <div class="feature_photo"
       style="display:none;"
    ></div>
<% end %>

<article>
  <%= form_for(@post, html: {class: 'post pf'}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mfb filepicker ">
      <input type="filepicker-dragdrop"
        data-fp-apikey="AjrSNotOQnu3ABsDzPEBKz"
        data-fp-mimetypes="image/*"
        data-fp-drag-class="photo_drag_drop"
        data-fp-option-services="DROPBOX,FACEBOOK,FLICKR,GMAIL,INSTAGRAM,COMPUTER,WEBCAM"
        onchange="handleFP(event);"
        />
    </div>

    <div class="field mfb">
      <%= f.text_field :title, 
            placeholder: "Title (required)", 
            maxlength: 160, 
            required: true %>
    </div>

    <div class="field">
      <%= f.text_area :content, 
            placeholder: "Your post",
            maxlength: 5000,
            id: 'post_content' %>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :photo_url, :value => @post.photo_url, :class => "photo_url" %>
    </div>

    <div class="field">
      <%= f.submit "Save post" %>
    </div>

  <% end %>
</article>

<script type="text/javascript">

  // Handle Filepicker upload callback
  var handleFP = function(event) {

    var feature_photo = $('.feature_photo');

       //style="background-image:url('<%= @post.photo_url %>/convert?w=1024');"

    // Cancel photo
    if (typeof event.fpfile == 'undefined') {
      feature_photo.hide();
      $('input.photo_url').val('');
    } else {
      feature_photo.css('background-image', "url("+event.fpfile.url+"/convert?w=1024)");
      feature_photo.show();
      $('input.photo_url').val(event.fpfile.url);
    }
  }
</script>

<script type="text/javascript">
  // Load async Filepicker API
  (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>
