<% if @already %>
  <h2 class="green">Post scheduled for <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% else %>
  <h2>Composing post for tomorrow, <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% end %>

<div class="hidden user-info" 
     data-user-name="<%= current_user.name %>">
</div>

<section class="writing">
  <div class="filepicker ">
    <input type="filepicker-dragdrop"
      data-fp-apikey="AjrSNotOQnu3ABsDzPEBKz"
      data-fp-mimetypes="image/*"
      data-fp-drag-class="photo_drag_drop"
      data-fp-option-services="DROPBOX,FACEBOOK,FLICKR,GMAIL,INSTAGRAM,COMPUTER,WEBCAM"
      onchange="handleFP(event);"
      />
  </div>

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uploaded_photo <%= 'hidden' if @post.photo_url.class == NilClass %>">
      <!--      <img src="<%= @post.photo_url %>/convert?w=600" />-->
      <p class="cancel_photo">&#x2716; cancel photo</p>
    </div>

    <div class="field">
      <%= f.text_field :title, :placeholder => "Title (required)", :maxlength => 80 %>
    </div>
    <div class="field">
      <%= f.text_area :content, :placeholder => "Your post", :maxlength => 500, :id => 'post_content' %>
    </div>
    <% if @post.content %>
      <% char_count = 500 - @post.content.length %>
      <% if (char_count <= 150) %>
        <div id="char_counter"><p style="color: hsl(0, 100%, <%= ((150 - char_count)/3) %>%)"><%= char_count %></p></div>
      <% else %>
        <div id="char_counter"><%= char_count %></div>
      <% end %>
    <% else %>
      <div id="char_counter">500</div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :issue_id, :value => @issue.id %>
      <%= f.hidden_field :photo_url, :value => @post.photo_url, :class => "photo_url" %>
    </div>
    <div class="field">
      <%= f.label :anon, "Make Anonymous" %>
      <%= f.check_box :anon, :value => false %>
    </div>
    <div class="field" id="submit">
      <%= f.submit "Save announcement" %>
    </div>
    <% if @already %>
      <div class="field">
        <%= link_to('Delete and start over', @post, :method => :delete, :confirm => 'Are you sure?') %>
      </div>
    <% end %>
  <% end %>
</section>

<section class="reading">

  <div class="header">
     
  </div>

  <div class="photo">
    <img src="https://www.filepicker.io/api/file/aOXwU9hlTIuG665S1ndr/convert?w=288" /> 
  </div>

  <div class="title">
  </div>

  <div class="body">
  </div>

</section>
