<% if @already %>
  <h2 class="green">Post scheduled for <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% else %>
  <h2>Composing post for tomorrow, <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% end %>

<div class="hidden user-info" 
     data-user-name="<%= current_user.name %>">
</div>

<script type="text/javascript">

    var handleFP = function(event){
      $('.filepicker').hide();

      console.log("handleFP");


      var file = event.fpfile;
        console.log(file);
        uploaded_photo = $('.uploaded_photo');
        uploaded_photo.children('img').attr('src', file.url+"/convert?w=600");
        uploaded_photo.show();

        $('input.photo_url').val(file.url);
    }

    $(document).ready(function(){

      // Cancel photo
      $('.cancel_photo').on('click', function(){
        $('.uploaded_photo').hide();
        $('.filepicker').show();
        $('.photo_drag_drop').html('Or drop files here');
        var photo_url = $('input.photo_url');

        // Remove file from filepicker (currently not doing this)
        // filepicker.remove(photo_url.val(), function(){
        //   console.log("Removed");
        // });

        photo_url.val('');
      });

    });

//     });



$(document).ready(function(){

  var youtube_videos = [
    {url: '7pdWAcK6Eh8', length: 8},
    {url: '5hfYJsQAhl0', length: 27},
    {url: 'Lty7RAHKT9E', length: 57},
    {url: 'RH1ekuvSYzE', length: 40},
    {url: 'tfboOt1bJcA', length: 17},
    {url: 'Lmj9HnbdhTc', length: 30},
    {url: 'N-LnP3uraDo', length: 21},
    {url: 'tuHezFweJ40', length: 30},
    {url: 'H_GMMD_GCTg', length: 23}
    ];
  var times_loud_noiseded = 0;
  var this_video = youtube_videos[0];

  // If the title contains more than 50% uppercase characters...
  $('form #submit').on('click', function(event){
    var post_title = $('#post_title').val();

    if (post_title.replace(/[^A-Z]/g, "").length > post_title.replace(/[\s]/g, "").length / 2) {

      event.preventDefault();

      $('.filepicker').fadeOut(800);

      $('form').fadeOut(800, function(){

        if (times_loud_noiseded != 0) {
          var key = Math.floor(Math.random()*youtube_videos.length) + 1;
          this_video = youtube_videos[key];
        }

        var loud_noises = "<div style='font-size:36px;' class='loud_noises'>WE UNDERSTAND YOU WANT TO GET YOUR POINT ACROSS BUT YOU DON'T HAVE TO USE SO MANY CAPITAL LETTERS.<iframe id='ytplayer' width='560' height='315' src='http://www.youtube.com/embed/"+this_video.url+"?rel=0&autoplay=1' frameborder='0' allowfullscreen></iframe></div>";
        $('form').before(loud_noises);

        // times_loud_noiseded += 1;

      }).delay(this_video.length*1000+1000).fadeIn(200, function(){
        $('.filepicker').fadeIn(200);
        $('.loud_noises').remove();
      });
    }
  });
});

</script>

<section class="writing">
  <div class="filepicker" <%= "style='display:none;'" if @post.photo_url != nil && @post.photo_url != "" %>>
    <input type="filepicker-dragdrop"
      data-fp-apikey="AjrSNotOQnu3ABsDzPEBKz"
      data-fp-mimetypes="image/*"
      data-fp-drag-class="photo_drag_drop"
      data-fp-option-services="DROPBOX,FACEBOOK,FLICKR,GMAIL,INSTAGRAM,COMPUTER,WEBCAM"
      onchange="handleFP(event);"
      />
  </div>

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uploaded_photo <%= 'hidden' if @post.photo_url.class == NilClass %>">
      <!--      <img src="<%= @post.photo_url %>/convert?w=600" />-->
      <p class="cancel_photo">&#x2716; cancel photo</p>
    </div>

    <div class="field">
      <%= f.text_field :title, :placeholder => "Title", :maxlength => 80 %>
    </div>
    <div class="field">
      <%= f.text_area :content, :placeholder => "Your post", :maxlength => 500, :id => 'post_content' %>
    </div>
    <% if @post.content %>
      <% char_count = 500 - @post.content.length %>
      <% if (char_count <= 150) %>
        <div id="char_counter"><p style="color: hsl(0, 100%, <%= ((150 - char_count)/3) %>%)"><%= char_count %></p></div>
      <% else %>
        <div id="char_counter"><%= char_count %></div>
      <% end %>
    <% else %>
      <div id="char_counter">500</div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :issue_id, :value => @issue.id %>
      <%= f.hidden_field :photo_url, :value => @post.photo_url, :class => "photo_url" %>
    </div>
    <div class="field">
      <%= f.label :anon, "Make Anonymous" %>
      <%= f.check_box :anon, :value => false %>
    </div>
    <div class="field" id="submit">
      <%= f.submit "Save announcement" %>
    </div>
    <% if @already %>
      <div class="field">
        <%= link_to('Delete and start over', @post, :method => :delete, :confirm => 'Are you sure?') %>
      </div>
    <% end %>
  <% end %>
</section>

<section class="reading">

  <div class="header">
     
  </div>

  <div class="photo">
    <img src="https://www.filepicker.io/api/file/aOXwU9hlTIuG665S1ndr/convert?w=288" /> 
  </div>

  <div class="title">
    This is the post title 
  </div>

  <div class="body">
    This is the post body 
  </div>

</section>



<script type="text/javascript">
// Load non-blocking filepicker API
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>



