<div class="hidden user-info" 
     data-user-name="<%= current_user.name %>">
</div>

<section class="writing">
  <div class="filepicker ">
    <input type="filepicker-dragdrop"
      data-fp-apikey="AjrSNotOQnu3ABsDzPEBKz"
      data-fp-mimetypes="image/*"
      data-fp-drag-class="photo_drag_drop"
      data-fp-option-services="DROPBOX,FACEBOOK,FLICKR,GMAIL,INSTAGRAM,COMPUTER,WEBCAM"
      onchange="handleFP(event);"
      />
  </div>

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <p class="cancel_photo <%= 'hidden' if !@post.photo_url || @post.photo_url == "" %>">&#x2716; cancel photo</p>

    <div class="field">
      <%= f.text_field :title, :placeholder => "Title (required)", :maxlength => 160 %>
    </div>
    <div class="field">
      <%= f.text_area :content, :placeholder => "Your post", :maxlength => 5000, :id => 'post_content' %>
    </div>
    <% if @post.content %>
      <% char_count = 500 - @post.content.length %>
      <% if (char_count <= 150) %>
        <div id="char_counter"><p style="color: hsl(0, 100%, <%= ((150 - char_count)/3) %>%)"><%= char_count %></p></div>
      <% else %>
        <div id="char_counter"><%= char_count %></div>
      <% end %>
    <% else %>
      <div id="char_counter">500</div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :photo_url, :value => @post.photo_url, :class => "photo_url" %>
    </div>
    <div class="field">
      <%= f.label :anon, "Make Anonymous" %>
      <%= f.check_box :anon, :value => false %>
    </div>
    <div class="field" id="submit">
      <%= f.submit "Save announcement" %>
    </div>
    <% if @already %>
      <div class="field">
        <%= link_to('Delete and start over', @post, :method => :delete, :confirm => 'Are you sure?') %>
      </div>
    <% end %>
  <% end %>
</section>

<section class="reading">

  <div class="header">
     
  </div>

  <div class="photo">
    <img src="" /> 
  </div>

  <div class="title">
  </div>

  <div class="body">
  </div>

</section>

<script type="text/javascript">

  // Handle Filepicker upload callback
  var handleFP = function(event) {

    var uploaded_photo = $('.reading .photo img');

    // Cancel photo
    if (typeof(event.fpfile) === undefined) {
      uploaded_photo.hide();
      $('input.photo_url').val('');
    } else {
      uploaded_photo.attr('src', event.fpfile.url+"/convert?w=288");
      uploaded_photo.show();
      $('input.photo_url').val(event.fpfile.url);
    }
  }
</script>

<script type="text/javascript">
  // Load async Filepicker API
  (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>
