<% if @post.photo_url && !@post.photo_url.empty? %>
  <div class="feature_photo"
       style="background-image:url('<%= @post.photo_url %>/convert?w=1024');"
    ></div>
<% end %>

<article>
  <h2 class="sm mdt mbb"><%= @post.title %></h2>

  <div class="post_info mdb">
    <span><%= @post.name_str %></strong></span>
  </div>

  <div class="post_body badb mkb pfb"><%= simple_format(auto_link(@post.content)) %></div>

  <!--  comments -->
  <% @post.comments.each do |c| %>
    <div class="mkb comment">
      <p class="mbb">
        <span class="fwb se mbr"><%= c.user.name %></span>
        <span class="grey sd"><%= c.created_at.strftime('%-I:%M%P %b %-d') %></span>
      </p>
      <div class="content"><%= simple_format(auto_link(c.content)) %></div>
    </div>
  <% end %>

  <!-- comment box -->
  <% if current_user %>
    <%= form_for(@comment, class: 'new-comment') do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_area :content, placeholder: "Your comment", rows: 3 %>
      <%= f.hidden_field :post_id %>
      <%= f.submit %>
    <% end %>
  <% end %>

</article>
