<h1>Votes</h1>

<p>All votes are now interpreted as upvotes (even previous downvotes). Coloring is only for retrospective reference and will be removed in later versions.</p>

<p>Showing the 100 most recent votes. <a href="/votes?all=1">See all.</a></p>

<table>
  <tr>
    <th>Cast</th>
    <th>Voter</th>
    <th>Post</th>
    <th>Poster</th>
  </tr>

  <% @votes.each do |vote| %>
    <tr class="<%= 'weekend' if vote.up %>">
      <td>
        <%= vote.created_at.strftime('%e %B') %></td>
      <td><%= vote.user.name %></td>
      <td><%= vote.post.title %></td>
      <td><%= (vote.post.anon) ? "Anonymous" : vote.post.user.name %></td>
    </tr>
  <% end %>

</table>

