<h1>Stats</h1>

<%= render 'stats_nav' %>

<table>
  <tr>
    <td>Upcoming issue post count</td>
    <td><%= @upcoming_issue_posts_count %></td>
  </tr>
  <tr>
    <td>Users count</td>
    <td><%= @users_count %></td>
  </tr>
  <tr>
    <td>New users in <%= Time.now().strftime('%B') %> so far</td>
    <td><%= @users_this_month %></td>
  </tr>
  <tr>
    <td>New users in <%= (Time.now() - 1.month).strftime('%B') %></td>
    <td><%= @users_last_month %></td>
  </tr>

</table>

