<h1>Stats<span style="font-weight:normal;margin-left:24px;">Issue Production</span></h1>

<%= render 'stats_nav' %>

<h2>Tomorrow's Issue</h2>

<table>
  <tr>
    <th>Posts</th>
    <th><%= @upcoming_issue.posts.count %></th>
  </tr>
  <% @upcoming_posts.each do |post| %>
    <tr>
      <td>
        <% if post.anon %>
          Anonymous
        <% else %>
          <%= post.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to post.title, post %>
      </td>
    </tr>
  <% end %>
</table>

<p><a href="/issues">See all issues</a></p>
<p><a href="/debug_email">See upcoming email</a></p>

<h2>Trends in Production</h2>

<p><img class="full_width" src="<%= @posts_per_issue_chart %>" /></p>
