<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>The Better Announcements</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if @checkboxes %>
    <%= javascript_include_tag "ios-checkboxes" %>
    <%= stylesheet_link_tag    "ios-checkboxes" %>
    <script type="text/javascript">
      $(window).load(function() {
        $('input:checkbox').iphoneStyle();
      });
    </script>
  <% end %>

  <%= analytics_init local: Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if @all_posts %>
      <% @all_posts.each_with_index do |post, index| %>
        <img src="<%= post.photo_url+'/convert?h=118' %>"
        style="position:absolute;top:0;left:0;opacity:0.2;z-index=-1;display:none;" />
        <% break if index > 10 %>
      <% end %>
      <script>
        var header_images = $('header img');
        header_images.load(function(){
          var header_left_offset = 0;
          header_images.each(function(index, element){
            $(element).css('left', header_left_offset+'px');
            header_left_offset += element.clientWidth;
          }).fadeIn(1200);
        });
      </script>
    <% end %>
    <h1 style="z-index=1;position:relative;"><%= link_to 'The Better Announcements', :root %></a></h1>
    <nav style="z-index=1;position:relative;">
      <% if current_user %>
        <%= render partial: 'layouts/nav' %>
      <% else %>
        <span>An alternative to the general announcements for Colby kids.</span>
      <% end %>
    </nav>
  </header>
  <div id="wrap">
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      <p><strong>The Better Announcements</strong> are made by <a href="mailto:jmkalin@colby.edu">John Kalin '14</a>, <a href="mailto:gcarpenterv@gmail.com">Jeff Carpenter '12</a>, and you.</p>
    </footer>
  </div>
</body>
</html>
