<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>TBA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if @checkboxes %>
    <%= javascript_include_tag "ios-checkboxes" %>
    <%= stylesheet_link_tag    "ios-checkboxes" %>
    <script type="text/javascript">
      $(window).load(function() {
        $('input:checkbox').iphoneStyle();
      });
    </script>
  <% end %>

  <%= analytics_init local: Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'TBA', :root %></a></h1>

    <nav>
      <% if current_user %>
        <%= render partial: 'layouts/nav' %>
      <% else %>
        <span>An alternative to the general announcements for Colby kids.</span>
      <% end %>
    </nav>
  </header>
  <div id="wrap" class="<%= params[:action] %> <%= params[:controller] %> clearfix">

    <div id="content" class="clearfix">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>

    <footer>
      <p><strong>TBA</strong> is by John Kalin '14, and Jeff Carpenter '12. Contact us at <a href="hi@colby.io">hi@colby.io</a></p>
    </footer>

  </div>
</body>
</html>
