<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>TBA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if @checkboxes %>
    <%= javascript_include_tag "ios-checkboxes" %>
    <%= stylesheet_link_tag    "ios-checkboxes" %>
    <script type="text/javascript">
      $(window).load(function() {
        $('input:checkbox').iphoneStyle();
      });
    </script>
  <% end %>

  <%= analytics_init local: Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
    <aside>

      <header class="bg-grey pf sd">
        <a href="/">Popular</a>
        <a href="/newest">Newest</a>
        <span class="right">
          <% if current_user %>
            <!-- <a href="/settings"><%= current_user.name %></a> -->
            <a href="/compose">Compose</a>
            <a href="/logout">Log out</a>
          <% else %>
            <a href="/auth/google_oauth2">Compose</a>
            <a href="/auth/google_oauth2">Sign in</a>
          <% end %>
        </span>
      </header>

      <div class="post-scroll">
        <%= render 'shared/posts' %>
      </div>

      <% if flash[:notice] %>
        <div class="notice pf sd"><%= flash[:notice] %></div>
      <% end %>

    </aside>
    <div id="detail">
      <%= yield %>
    </div>

</body>
</html>
