<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <title>The Better Announcements</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

<!--
  <script type="text/javascript">
    $(function(){
      $("input:checkbox").iphoneStyle();
    });
  </script>
-->

  <%= csrf_meta_tags %>
</head>
<body>
 <div id="wrap">
    <header>
      <% if current_user %>
        <ul id="nav" class="clearfix">
          <li><a href="/compose" class="<%= underline '/compose' %>">Compose</a></li>
          <li><a href="/settings" class="<%= underline '/settings' %>"><%= current_user.email %></a></li>
          <li><a href="/logout" class="admin">Log out</a></li>
          <% if current_user.email == 'gccarpen@colby.edu' %>
            <li><a href="/issues" class="admin <%= underline '/issues' %>">Issues</a></li>
          <% end %>
        </ul>
      <% end %>
      <h1>The Better Announcements</h1>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      <p><strong>The Better Announcements</strong> are made by <a href="mailto:jmkalin@colby.edu">John Kalin '13</a>, <a href="mailto:gcarpenterv@gmail.com">Jeff Carpenter '12</a>, and you.</p>
    </footer>
  </div>
</body>
</html>
