<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <title>The Better Announcements</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="wrap">
    <header>
      <% unless @hide_navigation %>
        <ul id="nav" class="clearfix">
          <li><a href="/settings">Settings</a></li>
          <li><a href="/compose">Compose</a></li>
          <li><strong><%= current_user.email %></strong></li>
        </ul>
      <% end %>
      <h1>The Better Announcements</h1>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      <p><strong>The Better Announcements</strong> are made by <a href="mailto:jmkalin@colby.edu">John Kalin '13</a>, <a href="mailto:gcarpenterv@gmail.com">Jeff Carpenter '12</a>, and you.</p>
    </footer>
    <% if current_user && current_user.email == 'gccarpen@colby.edu' %>
      <div id="sub_footer">
        <%= link_to 'Issues', issues_path %>
      </div>
    <% end %>
  </div>
</body>
</html>
