<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>TBA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if @checkboxes %>
    <%= javascript_include_tag "ios-checkboxes" %>
    <%= stylesheet_link_tag    "ios-checkboxes" %>
    <script type="text/javascript">
      $(window).load(function() {
        $('input:checkbox').iphoneStyle();
      });
    </script>
  <% end %>

  <%= analytics_init local: Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="left" class="badr full-scroll">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <div class="pky">
    
        <div class="sf mfb">
          <a href="/" class="dib mdr">Home</a>
          <a href="/newest" class="dib mdr">Newest</a>
          <% if current_user %>
            <!--<a href="/drafts" class="dib mdr">Drafts</a>-->
          <% end %>
        </div>

        <%= render 'shared/posts' %>
    
        <div class="mkt">
          <% if current_user %>
            <span class="mfr"><a href="/settings"><%= current_user.name %></a></span>
            <span class="mfr"><a href="/logout">Log out</a></span>
            <span class="mfr"><a href="/compose">Compose</a></span>
          <% else %>
            <span class="mfr"><a href="/auth/google_oauth2">Compose</a></span>
            <span class="mfr"><a href="/auth/google_oauth2">Sign in</a></span>
          <% end %>
        </div>

      </div>

    </div>
    <div id="right">
      <%= yield %>
    </div>

</body>
</html>
