<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>TBA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if @checkboxes %>
    <%= javascript_include_tag "ios-checkboxes" %>
    <%= stylesheet_link_tag    "ios-checkboxes" %>
    <script type="text/javascript">
      $(window).load(function() {
        $('input:checkbox').iphoneStyle();
      });
    </script>
  <% end %>

  <%= analytics_init local: Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' 
        rel='stylesheet' 
        type='text/css'>

  <meta name="viewport" 
        content="initial-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'TBA', :root %></h1>

    <nav>
      <a href="/" class="<%= underline '/' %>">Home</a>
      <a href="/new" class="<%= underline '/new' %>">New</a>
      <a href="/posts/new" class="<%= underline '/posts/new' %>">Compose</a>
      <a href="/level" class="<%= underline '/level' %>">Level</a>
      <a href="/settings" class="<%= underline '/settings' %>"><%= current_user ? current_user.name : "Settings" %></a>
      <a href="/guide" 
         class="<%= underline '/guide' %>"
        >Guide</a>
      <% if current_user %>
        <a href="/logout"   
           class="admin"
          >Log out</a>
      <% end %>

      <div class="global_search" style="display:none;">
        <input type="text" placeholder="Search..." />
        <div class="results">

        </div>
      </div>
    </nav>
  </header>
  <div id="wrap" class="<%= params[:action] %> <%= params[:controller] %> clearfix">
    <div id="content" class="clearfix">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p><strong>TBA</strong> is you. You can reach all of us at <a href="mailto:hello@announcements.io">hello@announcements.io</a>.</p>
    </footer>
  </div>
</body>
</html>
